#game-container {
    width: 400px;
    height: 400px;
    border: 2px solid black;
    position: relative;
  }
  
  #pacman {
    width: 20px;
    height: 20px;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
    top: 180px;
    left: 180px;
  }
  